<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2" *ngIf="!signUpSuccess; else successMessage">
    <div class="card" data-testid="form-sign-up" >
        <div class="card-header text-center">
            <h1>Sign Up</h1>
        </div>
        
        <form 
            class="card-body" 
            (ngSubmit)="onClickSignUp()"
            [formGroup]="signUpForm"
        >
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                    id="username" 
                    class="form-control" 
                    formControlName="username"
                />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                    id="email" 
                    class="form-control" 
                    formControlName="email"
                />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                    id="password" 
                    class="form-control" 
                    type="password" 
                    formControlName="password"
                />
            </div>
            <div class="mb-3">
                <label for="passwordConfirmation" class="form-label">Confirm Password</label>
                <input 
                    id="passwordConfirmation" 
                    class="form-control" 
                    type="password" 
                    formControlName="passwordConfirmation"
                />
            </div>
            <div class="text-center">
                <app-button [disabled]="isDisabled()" [apiProgress]="apiProgress">Sign Up</app-button>
            </div>
        </form>
    </div>
</div>
<ng-template #successMessage>
    <app-alert>
        Please check your email to activate account
    </app-alert>
</ng-template>



